@charset "utf-8";
/* CSS Document for cooltize */

.signup-form {
display: block;
margin: 0 auto;
max-width: 505px;
}

.logo-container {
height: auto;
margin: 100px auto 50px;
width: 250px;
}

.center-container {
align-content: center;
}

.contactpage-contact {
	    position: absolute;
	margin-top: 50px;
	min-width: 300px;
	min-height: 50px;
	display: inline;
}